.Pokegame-row {
    display: flex;
    justify-content: center;
}

#Pokegame-vs-img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

#Pokegame-instructions {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}