.memory-title {
    font-family: 'Bitter', serif;
}

.smash-title {
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    color: #00adb5;
}

#nav {
    background-color: #222831;
}

#title {
    display: block;
    margin: 0 auto;
    color: #eeeeee;
    letter-spacing: 1px;
}