body {
  /* background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-repeat: no-repeat; */
  background: #0099F7; 
  background: -webkit-linear-gradient(to right, #F11712, #0099F7);  
  background: linear-gradient(to right, #F11712, #0099F7); 
  
  height: 2000px;
}


#App {
  padding-top: 10px;
}

#App-title {
  display: block;
  width: 300px;
  margin: 0 auto;
}

